{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
 
   
    
  
<div class="container mt-3 text-white"style="background-color: black;">
  
  <br>
  <h2 class="text-center ">About Us</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quam quo maiores repellat tenetur? Necessitatibus officiis voluptates sunt perferendis alias, quos perspiciatis vero rerum sapiente magnam, eum autem, atque nesciunt?
      Aut laborum nisi earum quas, tempora blanditiis in iure voluptate architecto molestiae incidunt pariatur dignissimos sit quo repudiandae. Porro reiciendis, veritatis assumenda iure nulla nostrum ipsa placeat odit recusandae eveniet.
      Error perspiciatis quisquam sed reiciendis quae accusamus molestias deserunt fuga, rerum aliquid magni autem pariatur impedit aut, culpa excepturi sint omnis quod minus, libero numquam nihil expedita repellendus! Eaque, doloremque.
      Nesciunt blanditiis eius nihil cupiditate veritatis voluptatum perspiciatis quos ratione fugiat, a voluptas ducimus aliquam architecto aspernatur ullam dolor illum ipsa hic corporis. Ad tenetur impedit nobis similique rerum nostrum?
      Sequi facere sed cum, repellendus ipsam veritatis eum blanditiis laboriosam ullam aliquam? Non inventore doloremque atque a eaque nisi temporibus? Distinctio illum nisi aspernatur animi aliquid impedit, eius culpa quaerat?
      Accusantium doloremque magnam aspernatur ullam inventore blanditiis quidem cum eaque voluptatem, et adipisci aliquid alias molestias ad labore asperiores cumque nulla porro? Neque eius earum enim dolorum voluptas dolorem sunt?
      Maiores, dolorem id, esse pariatur consequuntur voluptas aperiam necessitatibus provident distinctio, ipsam libero. Mollitia, molestiae sit, modi iure, dolor deserunt fugit nostrum minus adipisci omnis ipsum fuga exercitationem expedita provident!
      Quam, aperiam fuga! Quidem delectus aspernatur labore blanditiis hic numquam nostrum nihil placeat eos illo, molestiae cupiditate ut totam inventore vero voluptate minima suscipit natus ab assumenda maxime consectetur dolore.
      Qui delectus distinctio voluptatibus praesentium fuga facere officia, quos sed, aut eius amet accusantium quaerat nobis vero totam excepturi nesciunt itaque impedit quis quia enim laborum hic optio? Voluptas, maiores?
      Itaque iste deserunt accusamus ducimus debitis quisquam sit corporis consequuntur placeat, at nam consequatur exercitationem possimus id pariatur ipsam! Eum co
    </p>
  </div>
  
</div>

{% endblock main-content %}